# Si le module Apache de redirection est bien activé ?
<IfModule mod_rewrite.c>

    # Redirige toutes les requêtes vers le fichier "Init.php".

    Options -MultiViews

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>